* {
    box-sizing: border-box;
}

:root {
    --darkblue: #111155;
    --lightblue: #2222aa;
    --textwhite: #ffffff;
    --textyellow: #ffff44;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
    color: var(--textwhite);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    text-align: center;
}

h2 {
    color: var(--textyellow);
}

.div-music {
    width: 500px;
    height: 100px;
    background-color: var(--lightblue);
    position: relative;
    margin: auto;
}