* {
    box-sizing: border-box;
}

:root {
    --darkblue: #111155;
    --lightblue: #2222aa;
    --textwhite: #ffffff;
    --textyellow: #ffff44;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
    color: var(--textwhite);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    text-align: center;
}

h2 {
    color: var(--textyellow);
}

.div-music {
    width: 500px;
    height: 100px;
    background-color: var(--lightblue);
    position: relative;
    margin: auto;
}

.div-music-staves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 25px;
}

.div-music-staves-stave {
    width: 100%;
    height: 1px;
    border-top: 1px solid white;
}

.div-music-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 15px
}

.div-music-main-clef {
    background-image: url(treble.svg);
    filter: invert(1);
    aspect-ratio: 0.4;
    transform: translateY(-2px);
}