* {
    box-sizing: border-box;
}

:root {
    --darkblue: #080822;
    --lightblue: #222288;
    --textwhite: #ffffff;
    --textyellow: #ffff44;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
    color: var(--textwhite);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    text-align: center;
    margin: 0;
    line-height: 50px;
    padding: 20px 0;
}

h2 {
    color: var(--textyellow);
}

header {
    background-color: var(--lightblue);
    height: 90px;
}

main {
    background-color: var(--darkblue);
    height: calc(100% - 90px);
    overflow: auto;
}

/* Music */

.div-music {
    width: 800px;
    height: 120px;
    max-width: calc(100% - 40px);
    position: relative;
    margin: auto;
    margin-top: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: 0;
}

.div-music-staves {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Do not change */
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 25px;
}

.div-music-staves-stave {
    width: 100%;
    height: 1px;
    border-top: 1px solid white;
}

.div-music-main {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100px; /* Do not change */
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.div-music-main-clef {
    background-image: url(treble.svg);
    filter: invert(1);
    aspect-ratio: 0.4;
    transform: translateY(-2px);
}

.div-music-main-time {
    color: var(--textwhite);
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', serif;
    font-size: 18pt;
    user-select: none;
}

.div-music-main-time>* {
    height: 20px;
    width: 20px;
    line-height: 20px;
}

.div-music-main-end {
    padding-bottom: 20px;
    padding-top: 15px;
    width: 8px;
    height: 100%;
}

.div-music-main-end-double {
    border-right: 4px solid var(--textwhite);
    border-left: 2px solid var(--textwhite);
    width: 8px;
    height: 100%;
}

.div-music-main-barline {
    padding-bottom: 20px;
    padding-top: 15px;
    width: 2px;
    height: 100%;
}

.div-music-main-barline-single {
    border-left: 2px solid var(--textwhite);
    width: 2px;
    height: 100%;
}

.div-music-main-note {
    min-width: 12px;
    position: relative;
}

.div-music-main-note-crotchet {
    flex-grow: 1;
    min-width: 12px;
}

.div-music-main-note-minim {
    flex-grow: 2;
    min-width: 30px;
}

.div-music-main-note-semibreve {
    flex-grow: 4;
    min-width: 40px;
}

.div-music-main-note-cont {
    flex-grow: 1;
    min-width: 60px;
}

.div-music-main-note-notehead {
    transform: translateY(1px); /* All transforms are optical. */
    width: 12px;
    height: 9px;
    border-radius: 100%;
    position: absolute;
    top: 25px; /* JS */
}

.div-music-main-note-notehead-crotchet {
    background-color: var(--textwhite);
    border: none;
}

.div-music-main-note-notehead-minim {
    background-color: transparent;
    border: 2px solid var(--textwhite);
}

.div-music-main-note-notehead-semibreve {
    background-color: transparent;
    border: 2px solid var(--textwhite);
}

.div-music-main-note-notehead-subcrotchet {
    background-color: var(--textwhite);
    border: none;
}

.div-music-main-note-notestemdown {
    transform: translateY(5px); /* All transforms are optical. */
    width: 12px;
    height: 38px;
    border-left: 2px solid var(--textwhite);
    position: absolute;
    top: 25px; /* JS */
}

.div-music-main-note-notestemup {
    transform: translateY(5px) translateY(-100%); /* All transforms are optical. */
    width: 12px;
    height: 38px;
    border-right: 2px solid var(--textwhite);
    position: absolute;
    top: 25px; /* JS */
}

.div-music-main-note-dot {
    transform: translateY(1px) translateX(15px); /* All transforms are optical. */
    width: 3px;
    height: 3px;
    border-radius: 100%;
    position: absolute;
    top: 25px; /* JS */
    background-color: white;
}

.div-music-main-note-subcrotchetcont>.div-music-main-note-subcrotchetbeamdown {
    transform: translateY(4px); /* All transforms are optical. */
    width: calc(100% - 12px);
    height: 38px;
    border-bottom: 5px solid var(--textwhite);
    position: absolute;
    top: 31px; /* JS */
}

.div-music-main-note-subcrotchetcont>.div-music-main-note-subcrotchetcont>.div-music-main-note-subcrotchetbeamdown {
    transform: translateY(-2px); /* All transforms are optical. */
    width: calc(100% - 12px);
    height: 38px;
    border-bottom: 5px solid var(--textwhite);
    position: absolute;
    top: 31px; /* JS */
}

.div-music-main-note-subcrotchetcont>.div-music-main-note-subcrotchetbeamup {
    transform: translateY(-1px) translateX(11px); /* All transforms are optical. */
    width: calc(100% - 12px);
    height: 38px;
    border-bottom: 5px solid var(--textwhite);
    position: absolute;
    top: -35px; /* JS */
}

.div-music-main-note-subcrotchetcont>.div-music-main-note-subcrotchetcont>.div-music-main-note-subcrotchetbeamup {
    transform: translateY(5px) translateX(11px); /* All transforms are optical. */
    width: calc(100% - 12px);
    height: 38px;
    border-bottom: 5px solid var(--textwhite);
    position: absolute;
    top: -35px; /* JS */
}

.div-music-main-note-subcrotchetcont {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 2px;
    justify-content: space-between;
    height: 100%;
}

.div-music-main-rest {
    width: 12px;
    position: relative;
}

.div-music-main-rest-crotchet {
    flex-grow: 1;
    min-width: 12px;
}

.div-music-main-rest-minim {
    flex-grow: 2;
    min-width: 30px;
}

.div-music-main-rest-semibreve {
    flex-grow: 4;
    min-width: 40px;
}

.div-music-main-rest-symbol-crotchet {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    aspect-ratio: 1;
    transform: translateX(-11.5px);
    clip-path: polygon(41% 0%, 60% 20%, 56% 26%, 53% 30%, 51% 36%, 51% 40%, 66% 64%, 61% 62%, 55% 63%, 50% 68%, 48% 77%, 48% 85%, 50% 90%, 54% 94%, 47% 94%, 41% 91%, 36% 85%, 35% 76%, 36% 69%, 42% 65%, 47% 62%, 52% 59%, 56% 59%, 39% 32%, 41% 28%, 43% 23%, 44% 18%, 44% 13%, 43% 8%, 42% 4%);
}

.div-music-main-rest-symbol-minim {
    background-color: white;
    position: absolute;
    width: 10px;
    height: 5px;
    top: 30px;
}

.div-music-main-rest-symbol-semibreve {
    background-color: white;
    position: absolute;
    width: 10px;
    height: 5px;
    top: 25px;
    left: calc(50% - 5px);
}

.div-music-main-rest-dot {
    transform: translateY(1px) translateX(15px); /* All transforms are optical. */
    width: 3px;
    height: 3px;
    border-radius: 100%;
    position: absolute;
    top: 28px; /* JS */
    background-color: white;
}

.div-music-main-cursor {
    width: 2px;
    height: 100%;
    background-color: var(--textyellow);
    min-width: 2px;
}

/* Button */

.div-keyboard {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: calc(100% - 40px);
    height: fit-content;
    flex-direction: row;
    gap: 5px;
}

.div-keyboard>*:not(:first-child) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.div-keyboard>*:not(:last-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button {
    display: block;
    min-width: 40px;
    height: 40px;
    border: none;
    background-color: var(--lightblue);
    border-radius: 10px;
    position: relative;
    padding: 0 5px;
    overflow: hidden;
    cursor: pointer;
    color: var(--textwhite)
}

button:hover,
button:focus {
    --textwhite: var(--textyellow);
    outline: 2px solid var(--textyellow);
}

.icon-semibreve-head,
.icon-minim-head {
    position: absolute;
    top: 15.5px;
    left: 14px;
    width: 12px;
    height: 9px;
    background-color: transparent;
    border: 2px solid var(--textwhite);
    border-radius: 100%;
}

.icon-crotchet-head {
    position: absolute;
    top: 15.5px;
    left: 14px;
    width: 12px;
    height: 9px;
    background-color: var(--textwhite);
    border: none;
    border-radius: 100%;
}

.icon-stem {
    position: absolute;
    top: 0px;
    left: 14px;
    width: 12px;
    height: 20px;
    background-color: transparent;
    border-right: 2px solid var(--textwhite);
}