* {
    box-sizing: border-box;
}

:root {
    --darkblue: #111155;
    --lightblue: #2222aa;
    --textwhite: #ffffff;
    --textyellow: #ffff44;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
    color: var(--textwhite);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    text-align: center;
}

h2 {
    color: var(--textyellow);
}

.div-music {
    width: 800px;
    height: 100px;
    max-width: calc(100% - 40px);
    position: relative;
    margin: auto;
    overflow: hidden;
}

.div-music-staves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 25px;
}

.div-music-staves-stave {
    width: 100%;
    height: 1px;
    border-top: 1px solid white;
}

.div-music-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.div-music-main-clef {
    background-image: url(treble.svg);
    filter: invert(1);
    aspect-ratio: 0.4;
    transform: translateY(-2px);
}

.div-music-main-end {
    padding-bottom: 20px;
    padding-top: 15px;
    width: 8px;
    height: 100%;
}

.div-music-main-end-double {
    border-right: 4px solid var(--textwhite);
    border-left: 2px solid var(--textwhite);
    width: 8px;
    height: 100%;
}

.div-music-main-barline {
    padding-bottom: 20px;
    padding-top: 15px;
    width: 2px;
    height: 100%;
}

.div-music-main-barline-single {
    border-left: 2px solid var(--textwhite);
    width: 2px;
    height: 100%;
}

.div-music-main-note {
    width: 12px;
    position: relative;
}

.div-music-main-note-crotchet {
    flex-grow: 1;
}

.div-music-main-note-minim {
    flex-grow: 2;
}

.div-music-main-note-semibreve {
    flex-grow: 4;
}

.div-music-main-note-cont {
    flex-grow: 1;
}

.div-music-main-note-notehead {
    transform: translateY(1px); /* All transforms are optical. */
    width: 12px;
    height: 9px;
    border-radius: 100%;
    position: absolute;
    top: 25px; /* JS */
}

.div-music-main-note-notehead-crotchet {
    background-color: var(--textwhite);
    border: none;
}

.div-music-main-note-notehead-minim {
    background-color: transparent;
    border: 2px solid var(--textwhite);
}

.div-music-main-note-notehead-semibreve {
    background-color: transparent;
    border: 2px solid var(--textwhite);
}

.div-music-main-note-notehead-subcrotchet {
    background-color: var(--textwhite);
    border: none;
}

.div-music-main-note-notestemdown {
    transform: translateY(5px); /* All transforms are optical. */
    width: 12px;
    height: 38px;
    border-left: 2px solid var(--textwhite);
    position: absolute;
    top: 25px; /* JS */
}

.div-music-main-note-subcrotchetbeam {
    transform: translateY(5px); /* All transforms are optical. */
    width: calc(100% - 12px);
    height: 38px;
    border-bottom: 5px solid var(--textwhite);
    position: absolute;
    top: 25px; /* JS */
}

.div-music-main-note-subcrotchetcont {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 2px;
    justify-content: space-between;
    height: 100%;
}

.div-music-main-cursor {
    width: 2px;
    height: 100%;
    background-color: var(--textyellow)
}